$swiper_slide-width: 700px;

:root {
  --swiper-slide-width: 500px;
}

//color variables

$primary-maroon: #bb2525;
$black: #000000;
$color-cream: #fff5e0;
$white: #ffffff;
$color-blue: #141e46;
$color-pink: #ff6969;
$color-yellow: #f8bc26;

// generic coding

picture{
  display: block;
}

.d_flex {
  display: flex;
  flex-wrap: wrap;
}

.d_flex-align {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.d_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ps_r {
  position: relative;
}

img {
  width: 100%;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.color_yellow {
  color: $color-yellow;
}
.color_gray {
  color: lighten($color: $black, $amount: 70%);
}

.heading_sect {
  h2 {
    font-size: calc(1rem + 2vw);
    color: $black;
    text-transform: capitalize;
    line-height: 1.2;
    margin: 2rem 0;
    color: $white;

    small {
      display: block;
      font-size: 35%;
    }

    span {
      color: $color-pink;
    }
  }
}

.heading_blue{
  h2{
    color: $color-blue;
  }
}

.heading_blue-pink{
  h2{
    color: $color-blue;
    small{
      color: $primary-maroon;
    }
  }
}

.heading_white{

  h2{
    color: $white;
    small{
      color: $white;
    }
  }
}

.text_center{
  text-align: center;
}

.sm {
  max-width: 75rem;
}

.sect_space {
  padding: calc(2rem + 4vw) 0;
}

// generic buttons

.btn_filled {
  background-color: $primary-maroon;
}

.btn_gray {
  color: lighten($color: $black, $amount: 60%);
}

.btn_maroon {
  color: $primary-maroon;
}

.btn_border-maroon {
  border-color: $primary-maroon;
}


.btn {
  text-transform: capitalize;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  color: white;
  border: 1px solid transparent;
}


//styling of header section

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav {
  position: relative;
  padding: 2.5rem 0 !important;

  .sm {
    padding: 0;
  }

  .navbar-brand {
    img {
      height: 2.5rem;
    }
  }

  .navbar-collapse {
    justify-content: center;
  }

  .nav-link {
    color: rgba(0, 0, 0, 1) !important;
    font-weight: 500;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: lighten($color: $black, $amount: 90%);
  }
}

// body background color

body {
  background-color: $color-cream;
}

//stying of hero section

.hero {
  background-color: $color-cream;

  .hero_inner {
    padding: 2rem 0;
    figcaption,
    figure {
      width: 50%;
      padding: 0.5rem 0;
    }

    figure {
      img {
        height: 50%;
        width: auto !important;
      }
    }
  }

  .heading_sect {
    h2 {
      color: $color-blue;
    }
    span {
      z-index: 1;
      color: $black;
      &::after {
        content: "";
        position: absolute;
        bottom: 0.4rem;
        left: 0;
        z-index: -1;
        height: 20%;
        width: 100%;
        background-color: lighten($color: $primary-maroon, $amount: 20%);
      }
    }
  }
}

.hero_text {
  position: relative;
  width: 80%;
  p {
    // width: 80%;
    background-color: $white;
    padding: 2.5rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
    border-bottom-left-radius: 0;
  }

  .btn_filled {
    position: absolute;
    right: 0;
    bottom: 1.3rem;
    z-index: 1;
  }
}

// styling of info section

.info {
  background-color: $color-blue;

  

  .info_content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    .info_img-sect {
      flex: 50%;
      max-width: 50%;

      figure {
        padding-top: 70%;
        width: 60%;
        position: relative;

        &:before,
        &:after {
          content: "";
          position: absolute;
          border-radius: 2rem;
          bottom: 0;
          left: 0;
        }

        &:before {
          width: 120%;
          height: 80%;
          background-color: $primary-maroon;
        }

        &:after {
          width: 130%;
          height: 70%;
          background-color: $color-blue;
          border: 1px solid $primary-maroon;
          transform: skew(-20deg);
          left: 1.8rem;
        }

        img {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 2rem;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top center;
        }

        figcaption {
          position: absolute;
          top: 70%;
          left: 80%;
          padding: 1rem 1.7rem;
          border: 2px solid $primary-maroon;
          background-color: $color-blue;
          display: flex;
          border-radius: 1rem;
          gap: 2rem;
          align-items: center;
          z-index: 1;

          picture {
            display: block;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: 5px solid $white;
            position: relative;

            img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
              top: 0;
              left: 0;
            }
          }

          h2 {
            color: $white;
            font-size: clamp(0, calc(0.8rem + 0.2rem) calc(1rem + 0.2vw));
            small {
              display: block;
              font-size: 40%;
              white-space: nowrap;
            }
          }
        }
      }
    }

    .info_content-sect {
      position: relative;
      flex: 1;
      display: block;
      color: $white;
      padding: 1rem 2rem;
      padding-left: calc(1.5rem + 4vw);
      position: relative;

      .info_line {
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: lighten($color: $black, $amount: 30%);
        top: 0;
        left: calc(0.5rem + 3vw);

        &:before,
        &:after {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: lighten($color: $black, $amount: 50%);
        }

        &:before {
          top: 0;
        }
        &:after {
          bottom: 0;
        }
      }

      p {
        color: $white;
        margin-bottom: 1rem;
      }
    }
  }
}

.info_list {
  list-style: none;
  padding-left: 2.5rem;

  .info_list-item {
    display: inline-block;
    text-decoration: none;
    color: $white;
    padding-bottom: 1rem;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0.6rem;
      left: 0;
      transform: translateX(-2.5rem);
      width: 0.7rem;
      height: 2px;
      background-color: lighten($color: $black, $amount: 50%);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0.6rem;
      left: 0;
      transform: translate(-1.75rem, -0.2rem);
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: lighten($color: $black, $amount: 80%);
    }
  }
}

//styling of testimonial_sect



.testimonial_slider-sect {
  .testmonial_img {
    width: 100%;
    // max-width: calc(100% - ($swiper_slide-width / 2)!important);
    max-width: calc(100% - var(--swiper-slide-width) / 2);
    max-height: 400px;
    display: block;
    margin-left: auto;
    object-fit: cover;
    object-position: top center;
  }

  .slider_content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: var(--swiper-slide-width);
    max-height: 250px;
    transform: translate(0, -50%);
    background-color: $white;
    border-radius: 1rem;
  }

  .swiper_card {
    padding: 1rem;
    article {
      display: flex;
      gap: 1.5rem;

      h3 {
        // font-size: calc(0.7rem + 1vw);
        font-size: clamp(0, calc(1rem + 0.2vw), calc(1rem + 0.4vw));
        small {
          display: block;
          font-size: 60%;
        }
      }

      figure {
        img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          border: 2px solid $white;
        }
      }
    }

    .testimonial_star-ul {
      margin: 1rem 0 1rem 0;
    }
  }

  .testmonial_slider-btns {
    position: absolute;
    width: 2rem;
    height: 5rem;
    // background-color: green;
    opacity: 1;
    right: 0;
    bottom: 0;
    transform: translateX(3rem);

    .swiper-button-next {
      top: 0;
      right: 0;
      transform: translateY(100%);
      // background-image: none;
      &:after {
        display: none;
      }
    }

    .swiper-button-prev {
      bottom: 0;
      right: 0;
      top: auto;
      left: auto;
      // transform: translateY(-100%);
      &:after {
        display: none;
      }
    }

    .swiper-button-disabled {
      opacity: 1 !important;
      background-color: $color-pink !important;
      color: $white !important;
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 2rem;
      height: 2rem;
      text-align: center;
      line-height: 2rem;
      background-color: $white;
      color: $black;
      i {
        font-size: 1.3rem;
      }
    }
  }
}

//styling of our_services section

.our_services {
  .heading_sect {
    h2 {
      flex: 65%;
      max-width: 65%;
      color: $color-blue;
    }

    p {
      flex: 35%;
      max-width: 35%;
      padding-left: 3rem;
    }
  }

  .row [class^="col-"] {
    padding: 12px;
  }

  .award_winning-cards [class^="col-"] {
    padding: 12px;
  }
}

.services_card {
  width: 100%;
  padding: 2rem;
  background-color: $white;
  border-radius: 1rem;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 2.75rem;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background: rgb(187, 37, 37);
    background: linear-gradient(
      90deg,
      rgba(187, 37, 37, 0.13209033613445376) 0%,
      rgba(187, 37, 37, 0.09287464985994398) 40%,
      rgba(187, 37, 37, 0.03405112044817926) 100%
    );
    // z-index: -1;
  }

  .service_card-icon {
    display: block;
    width: 5rem;
    height: 5em;
    line-height: 5rem;
    text-align: center;
    background-color: $primary-maroon;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 1;

    i {
      color: $white;
      font-size: 2.5rem;
    }
  }

  h3 {
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: 1.5rem;
    font-size: calc(0.5rem + 0.4vw);
  }

  .btn {
    color: $black;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0;
    text-transform: uppercase;
    i {
      color: $primary-maroon;
    }
  }
}

.award_winning-card {
  position: relative;
  background-color: $primary-maroon;
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 1rem;

  h2 {
    font-size: calc(2.5rem + 1vw);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px $white;

    small {
      margin-top: 0.5rem;
      display: block;
      -webkit-text-fill-color: $white;
      -webkit-text-stroke: 0;
      font-size: 25%;
      text-transform: capitalize;
    }
  }

  .award_card-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: block;
    width: 5rem;
    height: 5rem;
    background-color: lighten($color: $primary-maroon, $amount: 25%);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;

    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: $white;
  }
}

//styling of our work section

.our_works {
  .heading_sect {
    text-align: center;
    h2 {
      color: $color-blue;
      small {
        color: $color-pink;
      }
    }
  }

  .our_work-card {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;

    figcaption,
    figure {
      flex: 50%;
      max-width: 50%;
      
    }

    figcaption {
      padding: 1rem 3rem;
      background-color: $white;

      h2 {
        margin-bottom: 1.5rem;
        text-transform: capitalize;
        span {
          color: $color-pink;
        }
      }

      p {
        margin-bottom: 1.5rem;
      }
      .btn {
        padding-left: 0;
        color: $black;
        font-weight: bold;
        text-transform: capitalize;
        font-size: calc(0.5rem + 0.3vw);
      }
    }

    figure {
      position: relative;

      &:after {
        content: attr(data);
        color: $white;
        text-align: center;
        line-height: 5rem;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        width: 5rem;
        height: 5rem;
        background-color: $primary-maroon;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        background-color: #eaeaea;
        object-position: center center;
      }
    }
  }

  .our_work-card {
    &:nth-child(3) {
      flex-direction: row-reverse;

      figure {
        &::after {
          left: auto;
          right: 0;
          transform: translate(50%, -50%);
        }
      }
    }
  }

  
}

//styling of about_us sect

.about_us {
  .heading_sect{
    small{
      font-size: 30%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    // z-index: 1;
    background: rgb(19, 28, 64);
    background: linear-gradient(
      90deg,
      rgba(19, 28, 64, 0.8574404761904762) 0%,
      rgba(19, 28, 64, 0.8566561624649859) 100%
    );
  }
  .about_us-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top center;
  }

}
.about_us-inner {
  position: relative;
  z-index: 1;
  color: white;

  figure,figcaption {
    flex: 50%;
    max-width: 50%;
    padding: 0 1rem;
  }

  figcaption {
    

    .abouit_us-card {
      padding: 1rem;
      i {
        font-size: 2rem;
        display: block;
      }

      i,
      h4,
      p {
        margin-bottom: 1.5rem;
      }
    }
  }

  .img_sect{
    &::after{
      content: '';
      position: absolute;
      width: 1rem;
      height: 15rem;
      background-color: $color-pink;
      border-radius: 1rem;
      top: 0;
      right: 0;
      transform: translateX(-3rem);
      z-index: 1;
    }
  }
  
}
.about_us-a {
  padding-top: 70%;
  width: 85%;
  border-radius: 2rem;
  overflow: hidden;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    background-color: lighten($color: $black, $amount: 70%);
  }
}

.about_us-b{
  position: absolute;
  bottom: 14rem;
  right: 0;
  padding-top: 40%;
  width: 70%;
  background-color: lighten($color: $black, $amount: 70%);
  border: 2px solid $white;
  border-radius: 2rem;
  overflow: hidden;

  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.about_client-list{
  li{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid $white;
    background-color: lighten($color: $black, $amount: 80%);
    overflow: hidden;
    img{
      position: absolute;

      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

    }
  }
}
.about_client-list :nth-child(2){
  transform: translateX(-40%)!important;
}
.about_client-list :nth-child(3){
  transform: translateX(-80%)!important;
}

.about_client-info{
  padding: 1.5rem 1rem;
  background-color: $primary-maroon;
  border-radius: 1.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-1rem, -17rem);
  z-index: 1;
  width: fit-content;

  h3{
    small{
      display: block;
      font-size: 50%;
    }
  }
}


//styling of portfolio section


@media (max-width: 992px) {
  //styling of nav section

  header {
    background-color: $color-cream;
    // position: relative;
    z-index: 10;
  }
  nav {
    .quote {
      position: absolute;
      top: 2.35rem;
      right: 6rem;
    }
  }

  //styling of info section
  .info {
    .info_content {
      .info_img-sect {
        flex: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
      }

      .info_content-sect {
        flex: 100%;
        max-width: 100%;
        padding: 1.5rem;

        .info_line {
          left: 0.5rem;
        }
      }
    }
  }

  //styling of testimonial_sect

  .testimonial_img-main {
    figure {
      padding-top: 75%;
    }
  }

  .testimonial_slider {
    width: 90%;
    // padding-right: 3rem;
  }

  .testimonial_slider-btns {
    transform: translateX(2.5rem) !important;
  }

  //styling of our_services section

  .our_services {
    .heading_sect {
      h2 {
        flex: 100%;
        max-width: 100%;
      }

      p {
        flex: 100%;
        max-width: 100%;
        padding-left: 0;
        margin-bottom: 2rem;
      }
    }
  }

  //styling of our work sect

  .our_works .our_work-card {
    figcaption,
    figure {
      flex: 100%;
      max-width: 100%;
    }
    figure {
      &::after {
        transform: translate(0, -50%) !important;
      }
      padding-top: 30%;
    }
  }

  //styling of .about_us section

  
    .about_us-inner {
      figure,
      figcaption {
        flex: 100%;
        max-width: 100%;
        gap: 1rem;
      }
      figure{
        margin: 1.5rem 0;
        
      }

      .img_sect{
        &:after{
          transform: translateX(-5rem);
        }
      }
    }
  

  // .about_us-a {
  //   padding-top: 70%;
  //   width: 85%;
  //   border-radius: 2rem;
  //   overflow: hidden;
  
  //   img {
  //     position: absolute;
  //     width: 100%;
  //     height: 100%;
  //     top: 0;
  //     left: 0;
  //     object-fit: cover;
  //     background-color: lighten($color: $black, $amount: 70%);
  //   }
  // }
  
  .about_us-b{
    position: absolute;
    bottom: 0;
    transform: translateY(3rem);
    
  
    
  }
  
  
  
  .about_client-info{
    
    transform: translate(0.5rem, 1rem);

    
    
  }



}

@media (max-width: 768px) {
  //styling of hero section
  .hero_text {
    width: 100%;
    margin-bottom: 5rem;
    .btn_filled {
      bottom: -4rem;
      right: 50%;
      transform: translateX(50%);
    }
  }

  //stying of hero section

  .hero {
    .hero_inner {
      figcaption {
        width: 100%;
      }

      figure {
        width: 100%;
      }
    }
  }

  .info {
    .info_img-sect figure figcaption {
      left: 55% !important;
      top: 65% !important;
    }
  }


  //styling of about_us section

  .img_sect{
    &:after{
      transform: translateX(-5rem);
      height: 10rem!important;
    }
  }
}

@media (max-width: 576px) {

  //styling of heading_sect

  .heading_sect {
    h2 {
      
  
      small {
        font-size: 55%;
      }
  
    }
  }


  .hero {
    .hero_inner {
      figure {
        img {
          width: 70% !important;
        }
      }
    }
  }

  //styling of testimonial_sect

  .slider_content {
    position: relative;
  }

  .testimonial_slider-sect {
    .testmonial_img {
      height: 250px;

      opacity: 0;
      // height: 100%;
      // display: none;
    }

    .slider_content {
      max-width: 100% !important;
    }

    .testmonial_slider-btns {
      transform: translateX(0);
      bottom: auto;
      width: 100%;
      height: 0.75rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;

      .swiper-button-next {
        right: auto;
        transform: translateY(0);
      }

      .swiper-button-next,
      .swiper-button-prev {
        transform: translateY(50%);
        i {
          transform: rotate(180deg);
        }
      }
    }
  }

  //styling of our services sect

  .award_winning-card {
    h2 {
      font-size: calc(3rem + 2vw);
    }
  }

  //styling of our work sect

  .our_works .our_work-card {
    .btn {
      font-size: calc(1rem + 1vw) !important;
    }

    figure {
      padding-top: 50%;
    }
  }


  //styling of about_us section

  .img_sect{
    &:after{
      transform: translateX(-2rem)!important;
      height: 7rem!important;
    }

    .about_us-b{
      transform: translateY(1rem)!important;
    }
  }

  .about_us-a{
    padding-top: 90%!important;

  }
  .about_us-b{
    padding-top: 50%!important;

  }

  .about_client-info{
    padding: .5rem 1rem!important;
    h3{
      margin-left: -1.5rem;
    }
  }


}

//  .testimonial_slider-sect

.bg_gray {
  background-color: lighten($color: $black, $amount: 95%);
}
