$swiper_slide-width: 400px;

:root {
  --swiper-slide-width: 400px;
}

//color variables

$primary-maroon: #bb2525;
$black: #000000;
$color-cream: #fff5e0;
$white: #ffffff;
$color-blue: #141e46;
$color-pink: #ff6969;
$color-yellow: #f8bc26;

// generic coding

.d_flex {
  display: flex;
  flex-wrap: wrap;
}

.d_flex-align {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.d_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ps_r {
  position: relative;
}

img {
  width: 100%;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.color_yellow {
  color: $color-yellow;
}
.color_gray {
  color: lighten($color: $black, $amount: 70%);
}

.heading_sect {
  h2 {
    font-size: calc(1rem + 2vw);
    color: $black;
    text-transform: capitalize;
    line-height: 1.2;
    margin: 2rem 0;
    color: $white;

    small {
      display: block;
      font-size: 35%;
    }

    span {
      color: $color-pink;
    }
  }
}

.sm {
  max-width: 75rem;
}

.seec_space {
  padding: calc(2rem + 4vw) 0;
}

// generic buttons

.btn_filled {
  background-color: $primary-maroon;
}

.btn_gray {
  color: lighten($color: $black, $amount: 60%);
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  color: white;
  border: 1px solid transparent;
}

//styling of header section

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav {
  position: relative;
  padding: 2.5rem 0 !important;

  .sm {
    padding: 0;
  }

  .navbar-brand {
    img {
      height: 2.5rem;
    }
  }

  .navbar-collapse {
    justify-content: center;
  }

  .nav-link {
    color: rgba(0, 0, 0, 1) !important;
    font-weight: 500;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: lighten($color: $black, $amount: 90%);
  }
}

// body background color

body {
  background-color: $color-cream;
}

//stying of hero section

.hero {
  background-color: $color-cream;

  .hero_inner {
    padding: 2rem 0;
    figcaption,
    figure {
      width: 50%;
      padding: 0.5rem 0;
    }

    figure {
      img {
        height: 50%;
        width: auto !important;
      }
    }
  }

  .heading_sect {
    h2 {
      color: $color-blue;
    }
    span {
      z-index: 1;
      color: $black;
      &::after {
        content: "";
        position: absolute;
        bottom: 0.4rem;
        left: 0;
        z-index: -1;
        height: 20%;
        width: 100%;
        background-color: lighten($color: $primary-maroon, $amount: 20%);
      }
    }
  }
}

.hero_text {
  position: relative;
  width: 80%;
  p {
    // width: 80%;
    background-color: $white;
    padding: 2.5rem;
    padding-bottom: 2rem;
    border-radius: 2rem;
    border-bottom-left-radius: 0;
  }

  .btn_filled {
    position: absolute;
    right: 0;
    bottom: 1.3rem;
    z-index: 1;
  }
}

// styling of info section

.info {
  background-color: $color-blue;

  .heading_sect {
    text-align: center;
  }

  .info_content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    figure {
      flex: 50%;
      max-width: 50%;
    }

    figcaption {
      position: relative;
      flex: 1;
      display: block;
      color: $white;
      padding: 1rem 2rem;
      padding-left: calc(1.5rem + 4vw);
      position: relative;

      .info_line{
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: lighten($color: $black, $amount: 30%);
        top: 0;
        left: calc(.5rem + 3vw);

        &:before,&:after{
          content: '';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: lighten($color: $black, $amount: 50%);

        }

        &:before{
          top: 0;
        }
        &:after{
          bottom: 0;
        }
      }

      p{
        color: $white;
        margin-bottom: 1rem;
      }

      
    }
  }
}

.info_list {
  list-style: none;
  padding-left: 2.5rem;

  .info_list-item{
    display: inline-block;
    text-decoration: none;
    color: $white;
    padding-bottom: 1rem;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0.6rem;
      left: 0;
      transform: translateX(-2.5rem);
      width: .7rem;
      height: 2px;
      background-color: lighten($color: $black, $amount: 50%);
    }
    &::after{
      content: '';
      position: absolute;
      top: 0.6rem;
      left: 0;
      transform: translate(-1.75rem,-.2rem);
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      background-color: lighten($color: $black, $amount: 80%);
    }
  }
}

//styling of testimonial_sect

.testimonial_sect {
  .heading_sect {
    text-align: center;

    h2 {
      color: $color-blue;
    }
    small {
      color: $primary-maroon;
    }
  }
}

.testimonial_slider-sect {
  .testmonial_img {
    width: 100%;
    // max-width: calc(100% - ($swiper_slide-width / 2)!important);
    max-width: calc(100% - var(--swiper-slide-width) / 2);
    max-height: 400px;
    display: block;
    margin-left: auto;
    object-fit: cover;
    object-position: top center;
  }

  .slider_content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: var(--swiper-slide-width);
    max-height: 250px;
    transform: translate(0, -50%);
    background-color: $white;
    border-radius: 1rem;
  }

  .swiper_card {
    padding: 1rem;
    article {
      display: flex;
      gap: 1.5rem;

      h3 {
        font-size: calc(0.7rem + 1vw);
      }

      figure {
        img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          border: 2px solid $white;
        }
      }
    }

    .testimonial_star-ul {
      margin: 1rem 0 1rem 0;
    }
  }

  .testmonial_slider-btns {
    position: absolute;
    width: 2rem;
    height: 5rem;
    // background-color: green;
    opacity: 1;
    right: 0;
    bottom: 0;
    transform: translateX(3rem);

    .swiper-button-next {
      top: 0;
      right: 0;
      transform: translateY(100%);
      // background-image: none;
      &:after {
        display: none;
      }
    }

    .swiper-button-prev {
      bottom: 0;
      right: 0;
      top: auto;
      left: auto;
      // transform: translateY(-100%);
      &:after {
        display: none;
      }
    }

    .swiper-button-disabled {
      opacity: 1 !important;
      background-color: $color-pink !important;
      color: $white !important;
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 2rem;
      height: 2rem;
      text-align: center;
      line-height: 2rem;
      background-color: $white;
      color: $black;
      i {
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: 992px) {
  //styling of nav section

  header {
    background-color: $color-cream;
    // position: relative;
    z-index: 10;
  }
  nav {
    .quote {
      position: absolute;
      top: 2.35rem;
      right: 6rem;
    }
  }

  //styling of info section
.info{
  .info_content {

    
    figure {
      flex: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
    }

    figcaption{
      flex: 100%;
      max-width: 100%;
      padding: 1.5rem;

      .info_line{
        left: .5rem;
      }
    }
  }
}
  

  //styling of testimonial_sect

  .testimonial_img-main {
    figure {
      padding-top: 75%;
    }
  }

  .testimonial_slider {
    width: 90%;
    // padding-right: 3rem;
  }

  .testimonial_slider-btns {
    transform: translateX(2.5rem) !important;
  }
}

@media (max-width: 768px) {
  //styling of hero section
  .hero_text {
    width: 100%;
    margin-bottom: 5rem;
    .btn_filled {
      bottom: -4rem;
      right: 50%;
      transform: translateX(50%);
    }
  }

  //stying of hero section

  .hero {
    .hero_inner {
      figcaption {
        width: 100%;
      }

      figure {
        width: 100%;
      }
    }
  }
}

@media (max-width: 576px) {
  .hero {
    .hero_inner {
      figure {
        img {
          width: 70% !important;
        }
      }
    }
  }

  //styling of testimonial_sect

  .slider_content{
    position: relative;
  }

  .testimonial_slider-sect {
    .testmonial_img {
      height: 250px;
      
      opacity: 0;
      // height: 100%;
      // display: none;
    }

    .slider_content{
      max-width: 100%!important;
    }

    .testmonial_slider-btns {
      transform: translateX(0);
      bottom: auto;
      width: 100%;
      height: .75rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;


      .swiper-button-next {
        right: auto;
        transform: translateY(0);
      }

      .swiper-button-next,.swiper-button-prev{
        transform: translateY(50%);
        i{
          transform: rotate(180deg);
        }
      }
    }
  }
}

//  .testimonial_slider-sect

.bg_gray {
  background-color: lighten($color: $black, $amount: 95%);
}
