input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input:focus-visible {
  outline: 0;
}

.accordion-button:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.align_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align_end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

picture {
  display: block;
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.d_flex-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.d_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.just_spaceBetw {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.h3 {
  font-size: calc(0.8rem + 0.5vw);
  font-weight: 500;
}

.color_white {
  color: #ffffff;
}

.ps_r {
  position: relative;
}

img {
  width: 100%;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.color_yellow {
  color: #f8bc26;
}

.color_gray {
  color: #b3b3b3;
}

.heading_sect h1,
.heading_sect h2 {
  font-size: calc(1rem + 2vw);
  color: #000000;
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 2rem;
  color: #ffffff;
}

.heading_sect h1 small,
.heading_sect h2 small {
  display: block;
  font-size: 35%;
}

.heading_sect h1 span,
.heading_sect h2 span {
  color: #ff6969;
}

.heading_sect p {
  padding: 0 20%;
  margin-bottom: 1rem;
}

.heading_blue h1,
.heading_blue h2 {
  color: #141e46;
}

.heading_blue h1 small,
.heading_blue h2 small {
  color: #bb2525;
}

.heading_blue h1 span,
.heading_blue h2 span {
  color: #ff6969;
}

.spaced_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.spaced_heading h2 {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  max-width: 60%;
}

.spaced_heading .side_content {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  max-width: 40%;
}

.heading_blue h2 {
  color: #141e46;
}

.heading_blue-pink h2 {
  color: #141e46;
}

.heading_blue-pink h2 small {
  color: #bb2525;
}

.heading_white h2 {
  color: #ffffff;
}

.heading_white h2 small {
  color: #ffffff;
}

.heading_white-red h2 {
  color: #ffffff;
}

.heading_white-red h2 small {
  color: #bb2525;
}

.heading_white-red p {
  color: #ffffff;
}

.text_center {
  text-align: center;
}

.sm {
  max-width: 75rem;
}

.sect_space {
  padding: calc(2rem + 4vw) 0;
}

.btn {
  text-transform: capitalize;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  color: white;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn i {
  margin-left: 0.5rem;
}

.btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.btn_border-maroon {
  border-color: #bb2525;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn_border-maroon:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: transparent !important;
}

.btn_filled {
  background-color: #bb2525;
}

.btn_gray {
  color: #999999;
}

.btn_maroon {
  color: #bb2525;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav {
  position: relative;
  padding: 2.5rem 0 !important;
}

nav .sm {
  padding: 0;
}

nav .navbar-brand img {
  height: 2.5rem;
}

nav .navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-link {
  color: black !important;
  font-weight: 500;
}

nav::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #e6e6e6;
}

body {
  background-color: #fff5e0;
}

.hero {
  background-color: #fff5e0;
}

.hero .hero_inner {
  padding: 2rem 0;
}

.hero .hero_inner figcaption,
.hero .hero_inner figure {
  width: 50%;
  padding: 0.5rem 0;
}

.hero .hero_inner figure img {
  height: 50%;
  width: auto !important;
}

.hero .heading_sect h1 {
  color: #141e46;
}

.hero .heading_sect span {
  z-index: 1;
  color: #000000;
}

.hero .heading_sect span::after {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 0;
  z-index: -1;
  height: 20%;
  width: 100%;
  background-color: #e16565;
}

.hero_text {
  position: relative;
  width: 80%;
}

.hero_text p {
  background-color: #ffffff;
  padding: 2.5rem;
  padding-bottom: 2rem;
  border-radius: 2rem;
  border-bottom-left-radius: 0;
}

.hero_text .btn_filled {
  position: absolute;
  right: 0;
  bottom: 1.3rem;
  z-index: 1;
}

.hero_client-counter a {
  position: absolute;
  bottom: 0;
  right: 0;
}

.info {
  background-color: #141e46;
}

.info .info_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.info .info_content .info_img-sect {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 50%;
}

.info .info_content .info_img-sect figure {
  padding-top: 70%;
  width: 60%;
  position: relative;
}

.info .info_content .info_img-sect figure:before, .info .info_content .info_img-sect figure:after {
  content: "";
  position: absolute;
  border-radius: 2rem;
  bottom: 0;
  left: 0;
}

.info .info_content .info_img-sect figure:before {
  width: 120%;
  height: 80%;
  background-color: #bb2525;
}

.info .info_content .info_img-sect figure:after {
  width: 130%;
  height: 70%;
  background-color: #141e46;
  border: 1px solid #bb2525;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  left: 1.8rem;
}

.info .info_content .info_img-sect figure img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 2rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.info .info_content .info_img-sect figure figcaption {
  position: absolute;
  top: 70%;
  left: 80%;
  padding: 1rem 1.7rem;
  border: 2px solid #bb2525;
  background-color: #141e46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1rem;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.info .info_content .info_img-sect figure figcaption picture {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 5px solid #ffffff;
  position: relative;
}

.info .info_content .info_img-sect figure figcaption picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.info .info_content .info_img-sect figure figcaption h2 {
  color: #ffffff;
  font-size: clamp(0, calc(0.8rem + 0.2rem) calc(1rem + 0.2vw));
}

.info .info_content .info_img-sect figure figcaption h2 small {
  display: block;
  font-size: 40%;
  white-space: nowrap;
}

.info .info_content .info_content-sect {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  color: #ffffff;
  padding: 1rem 2rem;
  padding-left: calc(1.5rem + 4vw);
  position: relative;
}

.info .info_content .info_content-sect .info_line {
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #4d4d4d;
  top: 0;
  left: calc(0.5rem + 3vw);
}

.info .info_content .info_content-sect .info_line:before, .info .info_content .info_content-sect .info_line:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: gray;
}

.info .info_content .info_content-sect .info_line:before {
  top: 0;
}

.info .info_content .info_content-sect .info_line:after {
  bottom: 0;
}

.info .info_content .info_content-sect p {
  color: #ffffff;
  margin-bottom: 1rem;
}

.info_list {
  list-style: none;
  padding-left: 2.5rem;
}

.info_list .info_list-item {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 1rem;
  position: relative;
}

.info_list .info_list-item::before {
  content: "";
  position: absolute;
  top: 0.6rem;
  left: 0;
  -webkit-transform: translateX(-2.5rem);
          transform: translateX(-2.5rem);
  width: 0.7rem;
  height: 2px;
  background-color: gray;
}

.info_list .info_list-item::after {
  content: "";
  position: absolute;
  top: 0.6rem;
  left: 0;
  -webkit-transform: translate(-1.75rem, -0.2rem);
          transform: translate(-1.75rem, -0.2rem);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #cccccc;
}

.testimonial_slider-sect .testmonial_img {
  width: 100%;
  max-width: calc(100% - (700px / 2));
  max-height: 400px;
  display: block;
  margin-left: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.testimonial_slider-sect .slider_content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 250px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #ffffff;
  border-radius: 1rem;
}

.testimonial_slider-sect .swiper_card {
  padding: 1rem;
}

.testimonial_slider-sect .swiper_card article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.testimonial_slider-sect .swiper_card article h3 {
  font-size: clamp(0, calc(1rem + 0.2vw), calc(1rem + 0.4vw));
}

.testimonial_slider-sect .swiper_card article h3 small {
  display: block;
  font-size: 60%;
}

.testimonial_slider-sect .swiper_card article figure img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.testimonial_slider-sect .swiper_card .testimonial_star-ul {
  margin: 1rem 0 1rem 0;
}

.testimonial_slider-sect .testmonial_slider-btns {
  position: absolute;
  width: 2rem;
  height: 5rem;
  opacity: 1;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(3rem);
          transform: translateX(3rem);
}

.testimonial_slider-sect .testmonial_slider-btns .swiper-button-next {
  top: 0;
  right: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: #ff6969 !important;
  color: #ffffff !important;
}

.testimonial_slider-sect .testmonial_slider-btns .swiper-button-next:after {
  display: none;
}

.testimonial_slider-sect .testmonial_slider-btns .swiper-button-prev {
  background-color: #ff6969 !important;
  color: #ffffff !important;
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
}

.testimonial_slider-sect .testmonial_slider-btns .swiper-button-prev:after {
  display: none;
}

.testimonial_slider-sect .testmonial_slider-btns .swiper-button-disabled {
  opacity: 1 !important;
  background-color: #ffffff !important;
  color: #000000 !important;
}

.testimonial_slider-sect .testmonial_slider-btns .swiper-button-next,
.testimonial_slider-sect .testmonial_slider-btns .swiper-button-prev {
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  background-color: #ffffff;
  color: #000000;
}

.testimonial_slider-sect .testmonial_slider-btns .swiper-button-next i,
.testimonial_slider-sect .testmonial_slider-btns .swiper-button-prev i {
  font-size: 1.3rem;
}

.our_services .row [class^="col-"] {
  padding: 12px;
}

.our_services .award_winning-cards [class^="col-"] {
  padding: 12px;
}

.services_card {
  width: 100%;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  position: relative;
}

.services_card:after {
  content: "";
  position: absolute;
  top: 2.75rem;
  left: 0;
  width: 100%;
  height: 3.5rem;
  background: #bb2525;
  background: -webkit-gradient(linear, left top, right top, from(rgba(187, 37, 37, 0.13209)), color-stop(40%, rgba(187, 37, 37, 0.0928746)), to(rgba(187, 37, 37, 0.0340511)));
  background: linear-gradient(90deg, rgba(187, 37, 37, 0.13209) 0%, rgba(187, 37, 37, 0.0928746) 40%, rgba(187, 37, 37, 0.0340511) 100%);
}

.services_card .service_card-icon {
  display: block;
  width: 5rem;
  height: 5em;
  line-height: 5rem;
  text-align: center;
  background-color: #bb2525;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 1;
}

.services_card .service_card-icon i {
  color: #ffffff;
  font-size: 2.5rem;
}

.services_card h3 {
  margin-bottom: 1.5rem;
}

.services_card p {
  margin-bottom: 1.5rem;
  font-size: calc(0.5rem + 0.4vw);
}

.services_card .btn {
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0;
  text-transform: uppercase;
}

.services_card .btn i {
  color: #bb2525;
}

.award_winning-card {
  position: relative;
  background-color: #bb2525;
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
}

.award_winning-card h2 {
  font-size: calc(2.5rem + 1vw);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

.award_winning-card h2 small {
  margin-top: 0.5rem;
  display: block;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke: 0;
  font-size: 25%;
  text-transform: capitalize;
}

.award_winning-card .award_card-icon {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 5rem;
  height: 5rem;
  background-color: #e57b7b;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
}

.our_works .heading_sect {
  text-align: center;
}

.our_works .heading_sect h2 {
  color: #141e46;
}

.our_works .heading_sect h2 small {
  color: #ff6969;
}

.our_works .our_work-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
}

.our_works .our_work-card figcaption,
.our_works .our_work-card figure {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 50%;
}

.our_works .our_work-card figcaption {
  padding: 1rem 3rem;
  background-color: #ffffff;
}

.our_works .our_work-card figcaption h2 {
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.our_works .our_work-card figcaption h2 span {
  color: #ff6969;
}

.our_works .our_work-card figcaption p {
  margin-bottom: 1.5rem;
}

.our_works .our_work-card figcaption .btn {
  padding-left: 0;
  color: #000000;
  font-weight: bold;
  text-transform: capitalize;
  font-size: calc(0.5rem + 0.3vw);
}

.our_works .our_work-card figure {
  position: relative;
}

.our_works .our_work-card figure:after {
  content: attr(data);
  color: #ffffff;
  text-align: center;
  line-height: 5rem;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  background-color: #bb2525;
  border-radius: 0.5rem;
}

.our_works .our_work-card figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #eaeaea;
  -o-object-position: center center;
     object-position: center center;
}

.our_works .our_work-card:nth-child(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.our_works .our_work-card:nth-child(3) figure::after {
  left: auto;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.about_us .heading_sect small {
  font-size: 30%;
}

.about_us::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: #131c40;
  background: -webkit-gradient(linear, left top, right top, from(rgba(19, 28, 64, 0.85744)), to(rgba(19, 28, 64, 0.856656)));
  background: linear-gradient(90deg, rgba(19, 28, 64, 0.85744) 0%, rgba(19, 28, 64, 0.856656) 100%);
}

.about_us .about_us-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.about_us-inner {
  position: relative;
  z-index: 1;
  color: white;
}

.about_us-inner .about_us-figcaption,
.about_us-inner .about_us-figure {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 50%;
  padding: 0 1rem;
}

.about_us-inner .about_us-figcaption .about_us-card {
  padding: 1rem;
}

.about_us-inner .about_us-figcaption .about_us-card i {
  font-size: 2rem;
  display: block;
}

.about_us-inner .about_us-figcaption .about_us-card i,
.about_us-inner .about_us-figcaption .about_us-card h4,
.about_us-inner .about_us-figcaption .about_us-card p {
  margin-bottom: 1.5rem;
}

.about_us-inner .img_sect::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 15rem;
  background-color: #ff6969;
  border-radius: 1rem;
  top: 0;
  right: 0;
  -webkit-transform: translateX(-0.5rem);
          transform: translateX(-0.5rem);
  z-index: 1;
}

.about_img-card {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.about_img-card figcaption {
  width: 60%;
  padding: 1.5rem;
  background-color: #bb2525;
  border-radius: 1rem;
}

.about_img-card figure {
  width: 40%;
  aspect-ratio: 4/3;
}

.about_img-card figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  outline: 0.25rem solid #ffffff;
}

.client_list {
  list-style: none;
}

.client_list li:not(:first-child) {
  margin-left: -10%;
}

.client_list li img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0.25rem solid #ffffff;
}

.clients_number {
  font-size: calc(0.8rem + 1vw);
}

.clients_number small {
  display: block;
  font-size: 40%;
  margin-top: 0.5rem;
}

.about_us-a {
  padding-top: 70%;
  border-radius: 2rem;
  margin: 0 2.5rem;
}

.about_us-a .about_us-img-main {
  position: absolute;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #b3b3b3;
}

.portfolio .btn {
  margin: 1rem 0;
}

.portfolio_card figure {
  padding-top: 120%;
  background-color: #b3b3b3;
  border-radius: 1rem;
}

.portfolio_card figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.productivity_pod-inner {
  background-color: #bb2525;
  color: #ffffff;
  padding: calc(2rem + 2vh) 1rem;
  border-radius: 1rem;
}

.productivity_sect {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mail_box {
  border: 1px solid #ffffff;
  border-radius: 2rem;
  max-width: 40rem;
  margin: 0 auto;
}

.mail_box input {
  background-color: transparent;
  color: #ffffff;
  border: 0;
  padding: 1.1rem 12rem 1.1rem 2rem;
  outline: -webkit-focus-ring-color auto 0;
  width: 100%;
}

.mail_box input::-webkit-input-placeholder {
  color: #ffffff;
  text-transform: capitalize;
}

.mail_box input:-ms-input-placeholder {
  color: #ffffff;
  text-transform: capitalize;
}

.mail_box input::-ms-input-placeholder {
  color: #ffffff;
  text-transform: capitalize;
}

.mail_box input::placeholder {
  color: #ffffff;
  text-transform: capitalize;
}

.mail_box .btn {
  position: absolute;
  top: 50%;
  right: 0.35rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ffffff;
  color: #000000;
}

.news_sect:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #141e46;
  border-radius: 1rem;
  z-index: -1;
}

.productivity_margin {
  margin: 2.5rem 0 2rem 0;
}

.content_wrapper {
  margin: 1rem 0;
  background-color: #0e1632;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  text-transform: capitalize;
}

.content_wrapper .content_left {
  gap: 2rem;
}

.content_wrapper .content_left strong {
  max-width: 13rem;
  font-size: calc(0.7rem + 0.8vw);
  font-weight: normal;
}

.content_wrapper .content_left p {
  max-width: 13rem;
}

.content_wrapper .content_right {
  gap: 2rem;
}

.content_wrapper .content_right p i {
  color: #bb2525;
  margin-right: 0.5rem;
}

.content_wrapper .content_right .btn {
  text-transform: none;
}

.award_winning-section {
  background-color: #ffffff;
  padding: 1.5rem 2rem 1.5rem 2.5rem;
  border-radius: 1.75rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.5rem;
}

.award_winning-section:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff6969;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transform: translateX(-0.25rem);
          transform: translateX(-0.25rem);
  border-radius: 1.75rem;
}

.award_winning-section h3 small {
  font-size: 70%;
  margin-left: 1rem;
}

.award_winning-section .certificate_icon {
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: #bb2525;
  border-radius: 50%;
  line-height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.faqs .accordion-button::after {
  display: none;
}

.faqs .accordion-item {
  background-color: transparent;
  border: 0;
}

.faqs .accordion-button:not(.collapsed) {
  color: #bb2525;
  background-color: transparent;
  -webkit-box-shadow: inset 0 -1px 0 #bb2525;
          box-shadow: inset 0 -1px 0 #bb2525;
}

.faqs .accordion-button:not(.collapsed) span {
  background-color: #bb2525;
  color: #ffffff;
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

.faqs .accordion-button {
  color: #000000;
  background-color: transparent;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
  padding: 1rem 0;
  text-transform: capitalize;
  font-weight: bold;
}

.faqs .accordion-button span {
  background-color: #ffffff;
  color: #000000;
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 0.25rem;
}

.video_sect {
  background-color: #141e46;
}

.video_sect .video_sect-inner {
  height: 50vh;
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video_sect .video_sect-inner iframe {
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
}

.social_media-list {
  margin-top: 1.5rem;
  gap: 1rem;
}

.social_media-list li {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social_media-list li:hover {
  background-color: #ffffff;
  border-color: white;
}

.social_media-list li:hover i {
  color: #bb2525;
}

footer {
  background-color: #141e46;
}

footer .footer_inner .row [class^="col-"] {
  padding: 12px 24px;
}

footer .footer_inner::after {
  content: "";
  position: absolute;
  top: 5rem;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  left: 0;
}

footer .footer_list .list_heading {
  text-transform: capitalize;
  margin: 1rem 0 3rem 0;
}

footer .footer_list .list_heading i {
  margin-right: 1rem;
}

footer .footer_icon-list li:not(:first-child) {
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  padding: 0.5rem 1.5rem;
}

footer .footer_icon-list li:not(:first-child) strong {
  font-size: calc(0.8rem + 0.5vw);
  text-transform: capitalize;
}

footer .footer_icon-list li:not(:first-child) strong i {
  font-size: 1.25rem;
}

footer .footer_icon-list li:not(:first-child) strong small {
  display: block;
  padding: 0.5rem 0 0.5rem 1rem;
  position: relative;
  font-weight: normal;
  font-size: 80%;
}

footer .footer_icon-list li:not(:first-child) strong small::before {
  font-size: 2rem;
}

footer .footer_icon-list li:not(:first-child) strong small a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

footer .footer_icon-list li:not(:first-child) strong small::before {
  position: absolute;
  content: "\F135";
  font-family: "bootstrap-icons";
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #bb2525;
}

footer .footer_icon-list li:not(:first-child)::before {
  position: absolute;
  content: "\F135";
  font-family: "bootstrap-icons";
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #bb2525;
  font-size: 2rem;
}

.footer_icon-list-a li:not(:first-child) {
  padding: 0.5rem 0 !important;
}

.footer_icon-list-a li:not(:first-child)::before {
  display: none;
}

.footer_icon-list-b li:not(:first-child) strong {
  padding: 0.5rem 0 0.5rem 1.5rem !important;
  position: relative;
}

.footer_icon-list-b li:not(:first-child) strong i {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-0.35rem, 0.25rem);
          transform: translate(-0.35rem, 0.25rem);
  color: #bb2525;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.footer_icon-list-b li:not(:first-child) strong small {
  padding: 0.5rem 0 0.5rem 0 !important;
  font-size: 70%;
}

.footer_icon-list-b li:not(:first-child) strong small::before {
  content: "" !important;
}

.footer_icon-list-b li:not(:first-child)::before {
  display: none;
}

.footer_subsctibtion-sect {
  background-color: #0e1632;
  padding: 4rem 2rem;
  border-radius: 1.5rem;
  gap: 3rem;
}

.footer_subsctibtion-sect h2 {
  max-width: 20rem;
  text-transform: capitalize;
  font-size: calc(1.5rem + 1vw);
}

.footer_subsctibtion-sect aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 1rem;
}

.footer_subsctibtion-sect aside input {
  border: 1px solid #ffffff;
  padding: 1rem;
  max-width: 25rem;
  border-radius: 2rem;
  background-color: transparent;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: auto;
}

.footer_subsctibtion-sect aside input::-webkit-input-placeholder {
  color: #ffffff;
  text-transform: capitalize;
}

.footer_subsctibtion-sect aside input:-ms-input-placeholder {
  color: #ffffff;
  text-transform: capitalize;
}

.footer_subsctibtion-sect aside input::-ms-input-placeholder {
  color: #ffffff;
  text-transform: capitalize;
}

.footer_subsctibtion-sect aside input::placeholder {
  color: #ffffff;
  text-transform: capitalize;
}

@media (max-width: 992px) {
  header {
    background-color: #fff5e0;
    z-index: 10;
  }
  nav .quote {
    position: absolute;
    top: 2.35rem;
    right: 6rem;
  }
  .info .info_content .info_img-sect {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .info .info_content .info_content-sect {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }
  .info .info_content .info_content-sect .info_line {
    left: 0.5rem;
  }
  .testimonial_img-main figure {
    padding-top: 75%;
  }
  .testimonial_slider {
    width: 90%;
  }
  .testimonial_slider-btns {
    -webkit-transform: translateX(2.5rem) !important;
            transform: translateX(2.5rem) !important;
  }
  .our_services .heading_sect h2 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .our_services .heading_sect p {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
    padding-left: 0;
    margin-bottom: 2rem;
  }
  .our_works .our_work-card figcaption,
  .our_works .our_work-card figure {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .our_works .our_work-card figure {
    padding-top: 30%;
  }
  .our_works .our_work-card figure::after {
    -webkit-transform: translate(0, -50%) !important;
            transform: translate(0, -50%) !important;
  }
  .news_sect:before {
    width: 100%;
  }
  .about_us-inner .about_us-figcaption,
  .about_us-inner .about_us-figure {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
    gap: 1rem;
  }
  .about_us-inner figure {
    margin: 1.5rem 0;
  }
  .about_us-inner .img_sect:after {
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  .about_client-info {
    -webkit-transform: translate(0.5rem, 1rem);
            transform: translate(0.5rem, 1rem);
  }
  .about_img-card {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about_img-card figure {
    margin-bottom: 0.25rem;
    width: 60%;
    aspect-ratio: 5/2;
  }
  .about_us-inner .img_sect:after {
    -webkit-transform: translateX(-0.5rem);
            transform: translateX(-0.5rem);
    height: 100%;
    z-index: -1;
  }
  .content_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  .content_wrapper .content_left,
  .content_wrapper .content_right {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer_inner::after {
    display: none !important;
  }
  .footer_subsctibtion-sect {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_subsctibtion-sect aside {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    justify-items: flex-start;
  }
  .footer_subsctibtion-sect aside input {
    margin-left: unset;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 768px) {
  .heading_sect p {
    padding: 0;
  }
  .spaced_heading h2 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .spaced_heading .side_content {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .hero_text {
    width: 100%;
    margin-bottom: 5rem;
  }
  .hero_text .btn_filled {
    bottom: -4rem;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .hero .hero_inner figcaption {
    width: 100%;
  }
  .hero .hero_inner figure {
    width: 100%;
  }
  .info .info_img-sect figure figcaption {
    left: 55% !important;
    top: 65% !important;
  }
  .news_sect:before {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .d_sm-none {
    display: none !important;
  }
  .heading_sect h2 small {
    font-size: 55%;
  }
  .hero .hero_inner figure img {
    width: 70% !important;
  }
  .slider_content {
    position: relative;
  }
  .testimonial_slider-sect .testmonial_img {
    height: 250px;
    opacity: 0;
  }
  .testimonial_slider-sect .slider_content {
    max-width: 100% !important;
  }
  .testimonial_slider-sect .testmonial_slider-btns {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    bottom: auto;
    width: 100%;
    height: 0.75rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 10;
  }
  .testimonial_slider-sect .testmonial_slider-btns .swiper-button-next {
    right: auto;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .testimonial_slider-sect .testmonial_slider-btns .swiper-button-next,
  .testimonial_slider-sect .testmonial_slider-btns .swiper-button-prev {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .testimonial_slider-sect .testmonial_slider-btns .swiper-button-next i,
  .testimonial_slider-sect .testmonial_slider-btns .swiper-button-prev i {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .award_winning-card h2 {
    font-size: calc(3rem + 2vw);
  }
  .our_works .our_work-card .btn {
    font-size: calc(1rem + 1vw) !important;
  }
  .our_works .our_work-card figure {
    padding-top: 50%;
  }
  .about_us-a {
    padding-top: 90% !important;
  }
  .about_client-info {
    padding: 0.5rem 1rem !important;
  }
  .about_client-info h3 {
    margin-left: -1.5rem;
  }
  .about_img-card figcaption {
    width: 100%;
  }
  .about_img-card figcaption .clients_number {
    font-size: calc(1.5rem + 3vw) !important;
  }
  .about_img-card figcaption .clients_number small {
    margin-top: 0.3rem;
  }
}

.bg_gray {
  background-color: #f2f2f2;
}
/*# sourceMappingURL=main.css.map */